.js{
    background-color:aquamarine;
    width: 400px;
    height:300px;
    text-align: center;
    justify-content: center;
    padding: 40px 0px;
    text-transform: capitalize;
    margin: 50px auto;
}
.btn{
    background-color:blue;
    border-radius: 10px;
    width:80%;
    height: 40px;
    font-weight: bolder;
    margin-top:10px;
    color: white;
    border: 1px solid white;
    text-transform: capitalize;
}
.input{
    background-color:white;
    width:90%;
    height: 40px;
    box-sizing: border-box;
    font-weight: bolder;
    margin-top: 10px;
    color:black;
    text-transform: capitalize;
    border-radius: 10px;
    padding-left: 20px;
}
.para{
    font-size: larger;
}

